# Ignore everything by default
*

# Whitelist root files
!.gitignore
!.dockerignore
!pom.xml
!README.md
!financial_manager_tests.sh
!Dockerfile
!docker-compose.yml
!assets/
assets/*
!assets/*.png
!assets/*.jpg
!assets/*.gif
!assets/*.webp

# Whitelist src folder itself so git can look inside
!src/

# Ignore everything inside src by default
src/*

# Whitelist src/main folder and everything inside it
!src/main/
!src/main/**

# specifically ignore target dirs
target/
**/target/
