# Ignore everything by default
*

# Whitelist root files
!.gitignore
!.dockerignore
!pom.xml
!README.md
!finance_manager_tests.sh
!Dockerfile
!docker-compose.yml

# Whitelist src folder itself so git can look inside
!src/

# Ignore everything inside src by default
src/*

# Whitelist src/main folder and everything inside it
!src/main/
!src/main/**

# specifically ignore target dirs
target/
**/target/
